{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">College Student</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        Hi readers, I'm Paari a college student from India. I write blogs to
        bring knowledge and awareness among teenagers like me.
      </p>
      <p>My motto is to bring innovation and creativity in reading.</p>
      <p>I'm also a Python Develepor.</p>
    </div>
  </div>
</div>

<hr />

{% include "footer.html" %}
